<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<header>
    <div class="header-container">
        <a href="http://localhost:8080/"> <img class="emblem" src="https://static.overlay-tech.com/assets/dd2ad8e5-ef75-4300-baa7-e5030a76e79c.png" alt="Эмблема"></a>
        <div class="title-container">
            <h1>ГОСАВТОИНСПЕКЦИЯ</h1>
        </div>
        <img class="map" src="https://static.overlay-tech.com/assets/a3d45847-30bf-45d6-a6be-f42cf7f962a6.png" alt="Карта">
    </div>
</header>

<div>
    <form class="input-fines" action="/search" method="get">
        <input name="searchFines" type="text" value="{{ .searchText }}" placeholder="Введите название штрафа..." aria-label="Example text with button addon" aria-describedby="button-addon1">
        <button type="submit" id="button-addon1">Найти</button>
    </form>
</div>

<div class="table-row">
    {{ range .fines }}    <div class="card" id="{{ .Id }}">
        <div class="card-image">
            <img src="{{ .Imge }}" alt="Картинка">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <div>
                <h5>{{ .Price }} ₽</h5>
                <a href="http://localhost:8080/more/{{ .Id}}" >Подробнее</a>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<a href="http://localhost:8080/order/1" class="cart-icon">
    <img src="https://www.svgrepo.com/show/133694/act.svg" alt="Корзина">
    <span class="badge">{{ .number }}</span>
</a>

</body>
</html>
