<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="frame-4">
        <div class="group-13">
            <div class="relative-wrapper-one">
                <a href="http://localhost:8080/home">
                    <img
                            alt=""
                            class="image-1"
                            src="https://static.overlay-tech.com/assets/dd2ad8e5-ef75-4300-baa7-e5030a76e79c.png"
                    />
                </a>
                <p class="gosavtoinspekcija">
                    ГОСАВТОИНСПЕКЦИЯ
                </p>
            </div>
            <img
                    alt=""
                    class="image-6"
                    src="https://static.overlay-tech.com/assets/a3d45847-30bf-45d6-a6be-f42cf7f962a6.png"
            />
        </div>
    </div>



</body>
</html>