<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<header>
    <div class="header-container">
        <a href="http://localhost:8000/"> <img class="emblem" src="https://static.overlay-tech.com/assets/dd2ad8e5-ef75-4300-baa7-e5030a76e79c.png" alt="Эмблема"></a>
        <div class="title-container">
            <h1>ГОСАВТОИНСПЕКЦИЯ</h1>
        </div>
        <img class="map" src="https://static.overlay-tech.com/assets/a3d45847-30bf-45d6-a6be-f42cf7f962a6.png" alt="Карта">
    </div>
</header>

<div class="detailed-card">
    <div class="detailed-card-image">
        <img src="{{ .fine.Imge }}" alt="Изображение">
    </div>
    <div class="detailed-card-content">
        <h2>{{ .fine.Title }}</h2>
        <p>{{ .fine.FullInf }}</p>
        <p>Штраф: <strong>{{ .fine.Price }} ₽</strong></p>
    </div>
</div>

</body>
</html>